<div>
    <h1>{{pageName}}</h1>
    <ul>
        <li><a routerLink="/login">Page de connexion</a></li>
        <li><a routerLink="/addTask">Ajout d'une tâche</a></li>
        <li><a routerLink="/addWeeklyReport">Ajout d'un rapport d'activité hebdomadaire</a></li>
        <li><a routerLink="/addMonthlyReport">Ajout d'un rapport d'activité mensuel</a></li>
        <li><a routerLink="/weeklyReport">Rapport d'activité hebdomadaire par compte</a></li>
        <li><a routerLink="/monthlyReport">Rapport d'activité mensuel par compte</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>