<div>
    <div>{{pageName}}</div>
    <div>
        <table>
            <tr>
                <td>Nom de la tâche</td>
                <td>Temps passé dessus</td>
                <td>Temps estimé</td>
                <td>Jours de travail</td>
            </tr>
            <tr>
                <td>CRUD base de données</td>
                <td>3</td>
                <td>2</td>
                <td>21/12/2021</td>
            </tr>
            <tr>
                <td>CRUD base de données</td>
                <td>3</td>
                <td>2</td>
                <td>21/12/2021</td>
            </tr>
            <tr>
                <td>CRUD base de données</td>
                <td>3</td>
                <td>2</td>
                <td>21/12/2021</td>
            </tr>
         </table>
    </div>
</div>