<div>
    <div>{{pageName}}</div>
    <div>
        <table>
            <tr>
                <td>Nom de la tâche</td>
                <td>Temps passé dessus</td>
                <td>Temps estimé</td>
                <td>Jours de travail</td>
            </tr>
            <tr *ngFor="let madeWorkByAccount of madeWorkByAccounts">
                <td>{{madeWorkByAccount.name_task}}</td>
                <td>{{madeWorkByAccount.duration_made_work}}</td>
                <td>{{madeWorkByAccount.date_of_work_made_work}}</td>
            </tr>
         </table>
    </div>
</div>