<div>
    <div>{{pageName}}</div>
    <mat-form-field appearance="fill">
        <mat-label>Manager de la tâche</mat-label>
        <mat-select [(ngModel)]="selectedAccountManager">
          <mat-option *ngFor="let account of accounts" [value]=account.id_account>
            {{account.first_name_account}} {{account.last_name_account}}
          </mat-option>
        </mat-select>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Tâche parente:</mat-label>
        <mat-select [(ngModel)]="selectedParentTask">
          <mat-option *ngFor="let task of tasks" [value]=task.id_task>
            {{task.name_task}}
          </mat-option>
        </mat-select>
    </mat-form-field><br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nom de la tâche:</mat-label>
        <input matInput placeholder="Ex: Ajout d'une entité" #nameValue>
    </mat-form-field><br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Duré de la tâche:</mat-label>
        <input matInput placeholder="Ex: 2" #durationValue>
    </mat-form-field><br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Type de tâche:</mat-label>
        <input matInput placeholder="Ex: US ou FEAT" #typeTaskValue>
    </mat-form-field><br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Projet de la tâche:</mat-label>
        <input matInput placeholder="Projet CRA" #projectNameValue>
    </mat-form-field><br>
    <button (click)="addTask(selectedParentTask, selectedAccountManager, durationValue.value, typeTaskValue.value, nameValue.value, projectNameValue.value)" mat-button>Ajouter la tâche</button>
</div>