<div>
    <div>{{pageName}}</div>
    <select [(ngModel)]="selectedAccountManager">
        <option *ngFor="let account of accounts" [value]=account.id_account>{{account.first_name_account}} {{account.last_name_account}}</option>
    </select>
    <select [(ngModel)]="selectedParentTask">
        <option *ngFor="let task of tasks" [value]=task.id_task>{{task.name_task}}</option>
    </select>
    <input type="text" placeholder="Nom de la tâche" #nameValue>
    <input type="text" placeholder="Duré de la tâche" #durationValue>
    <input type="text" placeholder="Type de tâche" #typeTaskValue>
    <input type="text" placeholder="Projet de la tâche" #projectNameValue>
    <button (click)="addTask(selectedParentTask, selectedAccountManager, durationValue.value, typeTaskValue.value, nameValue.value, projectNameValue.value)">Ajouter la tâche</button>
</div>